{% extends "base.html" %}
{% block innerbody %}
    <header class="intro-header" style="background-image: url('{{ MEDIA_URL }}namratajain.png')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
			<br>
			<br>
			<br>
			<br>
			<br>
                        <h1>About Me</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <p>Hi, my name is Namrata and I love to write!!</p>
		<p>I write about life and my approach to live a good life. I write on my failures, my mistakes and my 

successes; I write on my hopes, wishes and dreams. My stories might not be mind-blowing or super 

inspiring, but I hope that you can always find a bit of yourself in it. It’s just a reminder to 

“BREATHE”.</p>
		<p>This blog is about creating positive change in your life, to find ways to make life easier and more

enjoyable.</p>
		<p>Let’s worry less, live in the moment more and allow ourselves to bask in the moments of happiness 

instead of always feeling overwhelmed by everything we juggle on a daily basis!!</p>
            </div>
        </div>
    </div>
    <hr>
{% endblock innerbody %}
